{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/nav_style.css' %}">
</head>
<body>
    <div class="container">
		<div class="head-panel">
			<div class="logo">
				<div class="element">
					<a href="/">Hotel Reservation</a>
				</div>
			</div>		
			<div class="user-info">
				<div class="element">
					Logged as: {{ user.username }}
				</div>		
				<div class="element" id="logout">
					<form method="post" action="{% url 'logout' %}">
						{% csrf_token %}
						<button class="logout-btn" type="submit">Logout</button>
					</form>
				</div>
			</div>	
		</div>				
	</div>
	<main>	
        {% block content %}{% endblock %}		
    </main>
</body>
</html>